In [1]:
import pandas as pd
from datetime import timedelta
from tqdm import tqdm

In [2]:
start_date = pd.Timestamp('1924-01-01')
end_date = pd.Timestamp('1924-01-31')
date_ranges = [(start_date.date(), end_date.date())]

while end_date < pd.Timestamp('2024-05-31'):
    start_date = end_date + timedelta(days=1)
    end_date = start_date + timedelta(days=15)
    date_ranges.append((start_date.date(), end_date.date()))

if date_ranges[-1][1] > pd.Timestamp('2024-05-31').date():
    date_ranges[-1] = (date_ranges[-1][0], pd.Timestamp('2024-05-31').date())

In [3]:
df = pd.DataFrame()
for start_time, end_time in tqdm(date_ranges):
    url = f"https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime={start_time}&endtime={end_time}&eventtype=earthquake&limit=20000&minmagnitude=-1"
    temp_df = pd.read_csv(url)
    df = pd.concat([df, temp_df], ignore_index=True)

100%|██████████| 2292/2292 [44:56<00:00,  1.18s/it]

In [4]:
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1924-01-29T01:54:58.960Z,-28.183,-70.715,45.0,6.80,mw,NaN,NaN,NaN,NaN,...,2022-04-25T23:29:25.973Z,"43 km N of Vallenar, Chile",earthquake,NaN,12.8,0.40,NaN,reviewed,iscgem,iscgem
1,1924-01-21T01:52:52.160Z,56.700,145.756,15.0,5.96,mw,NaN,NaN,NaN,NaN,...,2022-04-25T23:29:24.769Z,Sea of Okhotsk,earthquake,NaN,25.0,0.20,NaN,reviewed,iscgem,iscgem
2,1924-01-18T14:56:35.720Z,29.465,56.558,15.0,5.92,mw,NaN,NaN,NaN,NaN,...,2022-04-25T23:29:18.886Z,"31 km NW of K?h Sef?d, Iran",earthquake,NaN,25.0,0.40,NaN,reviewed,iscgem,iscgem
3,1924-01-14T20:50:20.760Z,35.871,139.441,15.0,6.96,mw,NaN,NaN,NaN,NaN,...,2022-04-25T23:29:17.325Z,"3 km NE of Sayama, Japan",earthquake,NaN,38.1,0.46,NaN,reviewed,iscgem,iscgem
4,1924-01-09T10:22:00.000Z,40.830,-124.170,NaN,4.80,uk,NaN,NaN,NaN,NaN,...,2018-06-04T20:43:44.000Z,"1 km NE of Samoa, California",earthquake,NaN,NaN,NaN,NaN,reviewed,ushis,jon

In [5]:
df.shape

(3988390, 22)

In [6]:
df.to_csv("earthquakes.csv", index=False)