In [1]:
import pandas as pd
import pandas as pd
from datetime import timedelta
from tqdm import tqdm

In [2]:
start_date = pd.Timestamp('1924-01-01')
end_date = pd.Timestamp('1924-01-31')
date_ranges = [(start_date.date(), end_date.date())]

while end_date < pd.Timestamp('2024-05-31'):
    start_date = end_date + timedelta(days=1)
    end_date = start_date + timedelta(days=10)
    date_ranges.append((start_date.date(), end_date.date()))

if date_ranges[-1][1] > pd.Timestamp('2024-05-31').date():
    date_ranges[-1] = (date_ranges[-1][0], pd.Timestamp('2024-05-31').date())

In [3]:
df = pd.DataFrame()
for start_time, end_time in tqdm(date_ranges):
    url = f"https://earthquake.usgs.gov/fdsnws/event/1/query?format=csv&starttime={start_time}&endtime={end_time}&eventtype=earthquake&limit=20000"
    temp_df = pd.read_csv(url)
    df = pd.concat([df, temp_df], ignore_index=True)

100%|█████████▉| 2291/2292 [1:00:43<00:02,  2.20s/it]/var/folders/_0/wfq3vrsj7pvcsxqlxwqbx6k40000gn/T/ipykernel_31894/841682183.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df], ignore_index=True)
100%|██████████| 2292/2292 [1:00:44<00:00,  1.59s/it]

In [4]:
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1924-01-30T20:54:44.980Z,19.256,-77.705,35.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-05-09T17:52:13.342Z,"84 km N of Falmouth, Jamaica",earthquake,NaN,28.4,NaN,NaN,reviewed,iscgemsup,iscgemsup
1,1924-01-30T04:47:48.940Z,12.313,143.816,35.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-05-09T17:52:11.629Z,"140 km SW of Merizo Village, Guam",earthquake,NaN,9.8,NaN,NaN,reviewed,iscgemsup,iscgemsup
2,1924-01-29T01:54:58.960Z,-28.183,-70.715,45.0,6.8,mw,NaN,NaN,NaN,NaN,...,2022-04-25T23:29:25.973Z,"43 km N of Vallenar, Chile",earthquake,NaN,12.8,0.4,NaN,reviewed,iscgem,iscgem
3,1924-01-27T04:22:14.740Z,19.657,121.487,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-05-09T17:52:10.074Z,"101 km SSW of Basco, Philippines",earthquake,NaN,18.3,NaN,NaN,reviewed,iscgemsup,iscgemsup
4,1924-01-24T18:34:53.280Z,7.054,94.476,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-05-09T17:52:08.503Z,"158 km NW of Sabang, Indonesia",earthquake,NaN,8.6,NaN,NaN,reviewed,iscgemsup,iscgemsup

In [5]:
df.shape

(4145809, 22)

In [6]:
df.to_csv("earthquakes.csv", index=False)